# Compiled and build artifacts
*.class
*.o
*.obj
*.out
build/
.gradle/
.cxx/

# Logs and temp files
*.log
*.tmp
*.swp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Android artifacts
/app/.cxx/
/app/build/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles
/.idea/renderers.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
